# Put this in the sser_deploy_all bash helper.

echo -e 'DEPLOY [URL_NAME]' &&
cd ~/public_html/simpleschoolreports.se/[URL_NAME]/ &&
bash .scripts/deploy-local.sh -profile='ssr' &&
echo -e 'DEPLOY [URL_NAME] DONE' &&
