.form-item--pass-pass1 .password-strength {
  display: none;
}

#password-policy-status th {
  display: none;
}

#password-policy-status tr td:not(.password-policy-constraint--status) {
  display: none;
}

#password-policy-status tr:hover {
  background: inherit;
  color: inherit;
}

#password-policy-status {
  max-width: 400px;
}

#password-policy-status .password-policy-constraint--status.password-policy-constraint--status--0:not(.password-policy-constraint--status--pending) {
  color: var(--color-maximumred);
}
#password-policy-status .password-policy-constraint--status.password-policy-constraint--status--1:not(.password-policy-constraint--status--pending) {
  color: var(--color-maximumred);
}
#password-policy-status .password-policy-constraint--status.password-policy-constraint--status--2:not(.password-policy-constraint--status--pending) {
  color: #977405;
}
#password-policy-status .password-policy-constraint--status.password-policy-constraint--status--3:not(.password-policy-constraint--status--pending) {
  color: var(--color-lightninggreen);
}
#password-policy-status .password-policy-constraint--status.password-policy-constraint--status--4:not(.password-policy-constraint--status--pending) {
  color: var(--color-lightninggreen);
}
#password-policy-status .password-policy-constraint--status.password-policy-constraint--status--5:not(.password-policy-constraint--status--pending) {
  color: var(--color-lightninggreen);
}
