.ssr-footer {
  min-height: 150px;
  color: #929497;
}

.ssr-footer--inner {
  width: 100%;
  background-color: #f3f4f9;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 24px 0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
}

.ssr-footer--inner .ssr-help {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}

.ssr-footer--inner .ssr-help > div {
  padding: 0 8px;
}

.ssr-footer--inner a {
  color: #929497 !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.ssr-footer--inner .icon {
  padding-right: 8px;
  padding-top: 6px;
}

.ssr-footer--inner .icon svg {
  width: 24px;
  height: 24px;
  fill: #929497;
}

.ssr-footer--inner .ssr-branding {
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
  align-items: flex-start;
  justify-content: center;
}

.ssr-footer--inner .ssr-branding > div {
  padding: 0 4px;
}

.ssr-footer--inner .ssr-branding > .separator,
.ssr-footer--inner .ssr-branding > .name {
  padding-top: 2px;
}

.ssr-footer--inner .ssr-version-info {
  font-size: 10px;
}
